@model HouseWrenDevelopment.Models.Contact.ContactForm;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home";
}

<ssection id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>House Wren <span>Development</span></h1>
                <h2>design & develop & troubleshoot front & back-end code & databases</h2>

                <div class="btns">
                    <a href="#events" class="btn-menu animated fadeInUp scrollto">Code</a>
                    <a href="#contact" class="btn-book animated fadeInUp scrollto">Contact</a>
                </div>
            </div>
            <!--
            <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
                <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
            </div>
			-->
        </div>
    </div>
</ssection><!-- End Hero -->
<!-- ======= Objective ======= -->
<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Objective</h2>
            <p>To design, research, develop, test, document, and maintain readable software code and databases to promote functionality, reliability, integrity, and user-experience.</p>
        </div>
    </div>
</section><!-- End Why Us Section -->
<!-- ======= Summary ======= -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img">
                    <img src="images/min-josie-weiss-9qmD0LrJUns-unsplash.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>House Wren Development</h3>                
                <ul>
                    <li><i class="bi bi-check-circle"></i> is driven by 4+ years programming experience with specialization in .NET Framework and responsive web design,</li>
                    <li><i class="bi bi-check-circle"></i> strives to always learn new concepts and systems to keep up with constantly evolving technology,</li>
                    <li><i class="bi bi-check-circle"></i> self-starts and is driven for problem solving and dissecting detail-oriented work, and</li>
					<li><i class="bi bi-check-circle"></i> finds organization and builds structure to analyze complex problems to condense information to convey specific concepts in relatable terms.</li>
                </ul><br/>				
                <p class="fst-italic">
                   HWD looks forward to collaborating on your software design and maintenance needs. 
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Skills ======= -->
<!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Skills</h2>
            <p>Languages & Frameworks</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="menu-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-csharp">C#</li>
                    <li data-filter=".filter-sql">SQL</li>
                    <li data-filter=".filter-vbscript">VBScript</li>
                    <li data-filter=".filter-shell">Shell</li>
                </ul>
            </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-6 menu-item filter-csharp">
                <i class="bi bi-check-circle"></i>
                <div class="menu-content">

                    <a href="https://github.com/housewren6/MealMaker">Meal Maker</a><span>C#</span>
                </div>
                <div class="menu-ingredients">
                    ASP.NET app using EF Core and USDA data to generate a random list of food components for a meal
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-sql">
                <i class="bi bi-check-circle"></i>
                <div class="menu-content">
                    <a href="#">Stored Procedures</a><span>SQL</span>
                </div>
                <div class="menu-ingredients">
                    Query databases with T-SQL custom queries, functions, stored procedures designed in SSMS and ADS
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-csharp">
                <i class="bi bi-check-circle"></i>
                <div class="menu-content">

                    <a href="https://github.com/housewren6/HouseWrenDevCodeSamples/blob/master/HouseWrenDevCodeSamples/GraphCallGETAllSharepointFilesInfo.cs">Graph API Calls</a><span>C#</span>
                </div>
                <div class="menu-ingredients">
                    Build HTTP API calls and create custom C# calls to query Microsoft Data
                </div>
            </div>
          
            <div class="col-lg-6 menu-item filter-csharp">
                <i class="bi bi-check-circle"></i>
                <div class="menu-content">
                    <a href="https://github.com/housewren6/HouseWrenDevCodeSamples/blob/master/HouseWrenDevCodeSamples/ParsingXMLcs.cs">C# XPath</a><span>C#</span>
                </div>
                <div class="menu-ingredients">
                    Parse XML documents for XML Nodes and set values
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-shell">
                <i class="bi bi-check-circle"></i>
                <div class="menu-content">
                    <a href="https://github.com/housewren6/HouseWrenDevCodeSamples/blob/master/HouseWrenDevCodeSamples/SFTPPowerShellWinSCPscripts.txt">Powershell & WinSCP SFTP</a><span>Shell</span>
                </div>
                <div class="menu-ingredients">
                    Connect to remote server and get all files while logging task processes
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-vbscript">
                <i class="bi bi-check-circle"></i>
                <div class="menu-content">
                    <a href="https://github.com/housewren6/HouseWrenDevCodeSamples/blob/master/HouseWrenDevCodeSamples/WordVBA-XPATH-VBS.txt">VBScript XPath</a><span>VBS</span>
                </div>
                <div class="menu-ingredients">
                    Parse XML documents for XML Nodes
                </div>
            </div>


            <div class="col-lg-6 menu-item filter-csharp">
                <i class="bi bi-check-circle"></i>
                <div class="menu-content">
                    <a href="https://github.com/housewren6/HouseWrenDevCodeSamples/blob/master/HouseWrenDevCodeSamples/GetRegistrySubkeyValue.cs">Query Computer Information</a><span>C#</span>
                </div>
                <div class="menu-ingredients">
                    Utilize Environment variables and Registry keys for code secrets and maintenance 
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-csharp">
                <i class="bi bi-check-circle"></i>
                <div class="menu-content">
                    <a href="https://github.com/housewren6/HouseWrenDevCodeSamples/blob/master/HouseWrenDevCodeSamples/CSConsoleSFTPTransfer.cs">C# SFTP</a><span>C#</span>
                </div>
                <div class="menu-ingredients">
                    Connect to remote server to get files via SFTP, script to be integrated into SSIS package 
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-csharp">
                <i class="bi bi-check-circle"></i>
                <div class="menu-content">

                    <a href="https://github.com/housewren6/HouseWrenDevelopment">House Wren Development Site</a><span>C#</span>
                </div>
                <div class="menu-ingredients">
                    Portfolio site for House Wren Development. Template designed by Bootstrapmade and images from unsplash.
                </div>
            </div>

        </div>

    </div>
</section><!-- End Menu Section -->
<!-- ======= Code Samples ======= -->
<!-- ======= Events Section ======= -->
<section id="events" class="events">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Samples</h2>
            <p>Code & Projects</p>
        </div>

        <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="row event-item">
                        <div class="col-lg-6">
                            <a href="https://github.com/housewren6/MealMaker"><img src="~/images/mealMakerRandomMealpic.PNG" class="img-fluid" alt=""></a>
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 content">
                            <a href="https://github.com/housewren6/MealMaker">
                                <h3>Meal Maker</h3>
                            </a>
                            <div class="price">
                                <p><span>C#</span></p>
                            </div>
                            <p>
                                ASP.NET app using EF Core and USDA FoodCentral data to generate a random list of food components for a meal
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circle"></i> Created custom models to match JSON file import</li>
                                <li><i class="bi bi-check-circle"></i> Deserialized JSON file and created tables using Entity Frameworks Core migrations</li>
                                <li><i class="bi bi-check-circle"></i> Verified data import in SQL tables using custom T-SQL queries in SSMS</li>
                            </ul>
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="row event-item">
                        <div class="col-lg-6">
                            <a href="https://github.com/housewren6/HouseWrenDevCodeSamples/blob/master/HouseWrenDevCodeSamples/GraphCallGETAllSharepointFilesInfo.cs">
                                <img src="~/images/graphSnip.PNG" class="img-fluid" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0 content">
                            <h3><a href="https://github.com/housewren6/HouseWrenDevCodeSamples/blob/master/HouseWrenDevCodeSamples/GraphCallGETAllSharepointFilesInfo.cs">Microsoft Graph API</a></h3>
                            <div class="price">
                                <p><span>C#</span></p>
                            </div>
                            <p class="fst-italic">
                                Custom Microsoft Graph calls, for example:
                            </p>
                            <ul>
                                <li><i class="bi bi-check-circle"></i> to query all files on a SharePoint site to query for document names and webURLs</li>
                                <li><i class="bi bi-check-circle"></i> to query for document names and webURLs</li>
                                <li><i class="bi bi-check-circle"></i> finally write all data to a CSV file </li>
                            </ul>
                        </div>
                    </div>
                </div><!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Events Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <p>House Wren Development</p>
        </div>
    </div>
    <div class="container" data-aos="fade-up">

        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location</h4>
                        <p>Central Maine, USA</p>
                    </div>

                    <div class="open-hours">
                        <i><img src="~/images/In-Blue-34.png" alt="LinkedIn logo" height="30px" width="30px" /></i>
                        <h4>LinkedIn</h4>
                        <p>
                            <a href="https://www.linkedin.com/in/housewrendevelopment/">linkedin.com/housewrendevelopment</a>
                        </p>
                    </div>

                    <div class="email">
						<i><img src="~/images/github-mark-white.png" alt="GitHub logo" height="34px" width="34px"  /></i>
                        <h4>GitHub</h4>
                        <p><a href="https://github.com/housewren6">github.com/housewren6</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">
                <form asp-action="Index" asp-controller="Home" method="post" >                    
                    <div class="col-md-12 form-group">
                        <label asp-for="Name" name="name" placeholder="Your name" >Your best name:</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Hugh Mann" required>
                    </div>
                    <div class="col-md-12 form-group mt-3">
                        <label asp-for="Email" name="email">Your best email address to be reached at:</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="email@address.com" required>
                    </div>  
                    <div class="col-md-12 form-group mt-3">
                        <label asp-for="Subject" name="subject">Your best email subject:</label>
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="the weather" required>
                    </div>
                    <div class="col-md-12 form-group mt-3">
                        <label asp-for="Email">Your best message here:</label>
                        <div >
						    <textarea asp-for="Message" name="message" rows="8" placeholder="Sure is {currentWeather} outside. Have a day." required></textarea>
						</div>
					</div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

        </div>

    </div>
</section><!-- End Contact Section -->